#container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.email {
  color: gray;
  font-size: 16px;
}
#container h4 {
  margin-bottom: 5px;
  font-size: 18px;
}
.person-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 10px 0px;
}
img {
  width: 100px;
  border-radius: 10px;
}

ion-item.myList {
  gap: 10px;
}
